*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 100vh;
    position: fixed;
    background-color: #0C4EC9;
    color: #FFFF;
}

.sidebar-list{
    text-decoration: none;
}

.sidebar-items{

}
