.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1%;
    gap: 10%;
    background-color: rgb(12, 78, 201);

    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
}

.menuOpen{
    width: 15%;
}

.iconGrid{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 5%;
    cursor: pointer;
}

.iconGrid img{
    width: 45px;
}
.iconGrid h3{
    margin: 0 0 0 10%;
    color: white;
}

.iconLogo img{
    display: flex;
    justify-content: end;
}