@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.cardSample {
  color: #FFFF;
  font-family: "Roboto", sans-serif;
  width: 100%;
  border-radius: 8px;
  padding: 4px 1px;
}

.title-sample-card {
  font-size: 1.3em;
  padding: 2px;
  margin-left: 10px;
}

.values-card-sample {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
}

.values-card-sample{
  font-size: 1.4em;
}

.icon-card-sample {
  color: #ffffff;
  margin-right: 10px;
}

.card-sample-description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  font-size: 1.1em;
}